@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

// $basecolor1: #ADACB5;
// $basecolor2: #D8D5DB;

$basecolor2: #4b6584;
$basecolor1: #778ca3;

@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
    padding: 0;
    background-color: $basecolor1;
    // background: rgb(189, 195, 199);
    // background: linear-gradient(120deg, rgba(189, 195, 199, 1) 0%, rgba(52, 73, 94, 1) 100%);
    font-family: sans-serif;
    overflow-x: hidden;
}

.small-square,
.big-square,
.circle {
    @include shadow;
}

@mixin p-title {
    font-size: 2vw;
    // font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

h2,
p {
    font-family: "Montserrat", sans-serif;

}

.wrap {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 20px;
    font-family: "Montserrat", sans-serif;

    h2 {
        transition: all 0.3s ease 0s;
    }

    li,
    a,
    h2 {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            display: inline-block;
            padding: 0 20px;

            button {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            a {
                display: block;
                color: #fff;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: all 0.3s ease 0s;

            }
        }
    }
}

.section1 {
    height: 100vh;

    h1 {
        margin-top: 10vh;
        margin-left: 5vw;
        margin-bottom: 0;
        text-transform: uppercase;
        // font-size: 200px;
        font-size: 15vw;
        cursor: default;
        line-height: 95%;

        -webkit-transition: all 750ms ease;
        -moz-transition: all 750ms ease;
        -o-transition: all 750ms ease;
        transition: all 750ms ease;

    }

    p {
        margin-left: 6vw;
        @include p-title;

        .span1 {
            font-family: "Montserrat", sans-serif;
            font-size: 1vw;
        }
    }

    .big-square {
        width: 20vw;
        height: 250px;
        background-color: $basecolor2;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        position: absolute;
        top: 25vh;
        right: 0;
        transition: all 1s ease 0s;
        z-index: -1;
    }

    .small-square {
        width: 15vw;
        height: 200px;
        background-color: $basecolor2;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        animation: test2 1s ease 1s;
        position: absolute;
        top: 60vh;
        right: 0;
        transition: all 1s ease 0s;
        z-index: -2;
    }

    .circle {
        width: 500px;
        height: 500px;
        background-color: $basecolor2;
        border-radius: 50%;

        position: absolute;
        bottom: -250px;
        left: -250px;

        transition: all 1s ease 0s;
        z-index: -3;
    }

}

.section2 {
    height: 100vh;

    h2 {
        text-transform: uppercase;
        font-size: 25px;
        margin-left: 20%;
        margin-right: 60%;
    }

    p {
        margin-left: 20%;
        margin-right: 60%;
        line-height: 150%;
    }

    img {
        width: 25%;
        // margin-left: 20%;
        margin-right: 20%;
        border-radius: 10px;
        float: right;
        @include shadow;
    }

    ul {
        list-style-type: none;
        margin-left: 20%;
        padding: 0;
        overflow: hidden;

        li {
            display: inline-block;
            padding: 0 10px;
            padding-left: 0;

            a {
                color: #000;
                text-decoration: none;
                transition: all 0.3s ease 0s;

            }
        }
    }
}

.section3 {
    background-color: grey;
    height: 100vh;

    h2 {
        text-transform: uppercase;
        font-size: 25px;
    }
}





li a:hover,
h2:hover {
    color: #000;
}

// .big-square:hover {
//     width: 22vw;
// }

// .small-square:hover {
//     width: 20vw;
// }

.circle:hover {
    border-radius: 40%;
}


// @media only screen and (max-width: 1024px) and (min-width: 700px) {

//     body{
//         display: inline-block;
//     }
// }